.step {
  display: none;
}
.step.active {
  display: block;
}
.button-container {
  margin-top: 20px;
}
body {
  font-family: Arial, sans-serif;
}

#matrix-container {
  margin: 20px 0;
}

input[type="number"] {
  width: 50px;
}

h1 {
  padding-bottom: 15px;
  border-bottom: 2px solid #4caf50;
  width: 100%;
  color: #333;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(6, 50px);
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.block {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.priority-1 {
  background-color: rgba(162, 245, 162, 0.8);
}

.priority-2 {
  background-color: rgba(235, 235, 151, 0.8);
  color: black;
}

.priority-3 {
  background-color: rgba(234, 102, 102, 0.8);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: #333; /* Change color as needed */
  margin: 20px;
  animation: pulse 1s infinite; /* Apply pulse animation */
}

/* Keyframes for pulsing animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9); /* Grow slightly */
  }
  100% {
    transform: scale(1);
  }
}
